*.la
*.lo
*.loT
*.o
.deps
.libs
Makefile
Makefile.in
GNUmakefile

/downloads

/Makefile.iptrules
/Makefile.mans
/.*.lst
/matches.man
/targets.man

/aclocal.m4
/autom4te*.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/xtables-addons.8
