.*.cmd
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
.deps
.libs
.tmp_versions
Makefile
Makefile.in
Module.symvers

/downloads

/aclocal.m4
/autom4te*.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
